<h1>{{title}}</h1>

{{#each body}}
  {{#isEqual this.type "heading"}}
    <h2>{{this.model.text}}</h2>
  {{/isEqual}}

  {{#isEqual this.type "paragraph"}}
    <p>{{this.model.text}}</p>
  {{/isEqual}}

  {{#isEqual this.type "image"}}
    <img src="{{this.model.url}}", alt="{{this.model.altText}}" style="width:{{this.model.width}}px;height:{{this.model.height}}px;"
  {{/isEqual}}

  {{#isEqual this.type "list"}}
    {{#isEqual this.model.type "unordered"}}
      <ul>
        {{#each this.model.items}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/isEqual}}

    {{#isEqual this.model.type "ordered"}}
      <ol>
        {{#each this.model.items}}
          <li>{{this}}</li>
        {{/each}}
      </ol>
    {{/isEqual}}
  {{/isEqual}}
{{/each }}