 <article> 
  <h1>{{title}}</h1>

  {{#each body}}
    {{#isEqual this.type "heading"}}
    <div class="header">
      <h3>{{this.model.text}}</h3>
    </div>
    {{/isEqual}}

    {{#isEqual this.type "paragraph"}}
    <div class="paragraph">
      <p>{{this.model.text}}</p>
    </div>
    {{/isEqual}}

    {{#isEqual this.type "image"}}
    <div class="image">
      <img src="{{this.model.url}}", alt="{{this.model.altText}}" style="width:{{this.model.width}}px;height:{{this.model.height}}px;">
    </div>
    {{/isEqual}}

    {{#isEqual this.type "list"}}
      {{#isEqual this.model.type "unordered"}}
      <div class="unordered-list">
        <ul>
          {{#each this.model.items}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      {{/isEqual}}
    {{/isEqual}}
  {{/each }}
</article>
<form action="/article/next" method="POST">
  <button type="submit">Next</button>
</form>